.useful {
	&-zoom {
		display: block;
		margin: 0;
		padding: 0;
		max-width: 480px;
		min-width: 240px;
		overflow: hidden;
		padding: 0;
		position: relative;

		* {
			box-sizing: border-box;
		}

		a img {
			display: block;
			height: auto;
			width: 100%;
		}

		menu {
			transition-property: opacity;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			opacity: 0.5;
		}

		&:hover menu {
			opacity: 1;
		}

		&-overlay {
			background-size: 100% auto;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			z-index: 10;
			will-change: transform;
		}

		&-transition {
			transition-property: transform, transform-origin;
			transition-duration: 1s;
			transition-timing-function: ease;
		}

		&-controls {
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 20;

			button {
				background-color: $passive;
				background-repeat: no-repeat;
				background-size: 16px auto;
				background-position: center;
				border: none;
				cursor: pointer;
				display: block;
				height: 32px;
				margin: 0 0 5px;
				padding: 0;
				width: 32px;
				z-index: 10;
				overflow: hidden;
				white-space: nowrap;
				text-indent: 110%;
			}

			button:hover {
				background-color: $hover;
			}

			.disabled,
			.disabled:hover {
				background-color: $disabled;
			}
		}

		&-in {
			background-image: url("../img/zoom_in.svg");
		}

		&-out {
			background-image: url("../img/zoom_out.svg");
		}
	}
}